#square {
    width: 10px;
    height: 10px;
    background-color: blue;
    cursor: pointer;
    margin: 50px 0 0 20px;
}


#skaiciuMygtukas {
    margin: 50px 0 0 20px;
    width: 900px;
    height: 300px;
}